# Environment variables
.env

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Log files
logs/
*.log
*.json.log

# ==========================================
# IDE / Editor-Specific Settings
# ==========================================
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject

# ==========================================
# OS-Specific (Optional but recommended)
# ==========================================
.DS_Store
Thumbs.db

downloaded_files/
profiles/
profiles/brave

# Reports
dashboard.html
last_report.html
downloaded_files/
